{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Wiki Page
{% endblock %}

{% block body %}
    <h1>Edit {{ title }} Page</h1>

    <form action="{% url 'edit' title=title %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="title" value="{{ title }}">
        <div>
            <label style="width:80px" for="content">Page Body:</label>
            <textarea style="vertical-align: top;" id="content" name="content">{{ body }}</textarea>
        </div>
        <div style='text-align: left;'>
            <input style="margin-left:80px" type="submit" value="Save">
        </div>
    </form>
{% endblock %}