{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Wiki Page
{% endblock %}

{% block body %}
    <h1>Create New Wiki Page</h1>

    <form action="{% url 'add' %}" method="POST">
        {% csrf_token %}
        <div>
            <label style="width:80px" for="title">Page Title:</label>
            <input required id="title" name="title" type="text" placeholder="Title">
            {% if error %}
                <span style="color:red;">{{ error }}</span>
            {% endif %}
        </div>
        <div>
            <label style="width:80px" for="content">Page Body:</label>
            <textarea style="vertical-align: top;" id="content" name="content"></textarea>
        </div>
        <div style='text-align: left;'>
            <input style="margin-left:80px" type="submit" value="Save">
        </div>
    </form>
{% endblock %}